* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}


a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  padding-left: 10px;
}

.discount ,.green-piece {
  color: white;
  position: relative;
  left: 0;
  bottom: 60px;
  padding: 1px 5px;
}

.discount {
  background-color: red;
}

.green-piece {
  background-color: green;
}

.heart {
  font-size: 1.5rem;
  background-color: white;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 0;
}

h6 {
  color: gray;
}

.hidden {
  display: none;
  position: absolute;
  top: 0;
}

/* header */

header .top-fixed {
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  padding: 20px;
  background-color: orange;
  z-index: 999;

}

.container.header-bar {
  justify-content: space-between;
  align-items: center;
}

.logo a img {
  width: 120px;
}

.gender a {
  padding-right: 10px;
}
/* main */

.container .product-card {
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  width: 100%;
  margin-top: 100px;
}

.col-product {
  width: calc(100% / 3);
  padding: 10px;
  position: relative;
}

.col-product img {
  width: 100%;
}

.col-product .box-img {
  position: relative;
}

.details-product :nth-child(3) {
  color: red;
  font-weight: 800;
  margin-right: 3px;
}

.details-product span:last-child {
  text-decoration: line-through;
}


.box-img:hover .hidden {
  display: block;
}