* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug > div{
  border: 1px solid black;
}


.debug-box{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.p-relative {
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
}
/* header */

header .top-fixed {
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  padding: 20px;
  background-color: orange;
  z-index: 999;

}

.container.header-bar {
  justify-content: space-between;
  align-items: center;
}

.logo a img {
  width: 120px;
}

/* main */

.container .product-card {
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  width: 100%;
  margin-top: 100px;
}

.col-product {
  width: calc(100% / 3);
  padding: 10px;
  position: relative;
}

.col-product img {
  width: 100%;
}